body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

.logo_Massimiliano {
    width: 300px;
}


.shadow_custom {
    box-shadow: -5px 5px 15px 5px rgba(0, 0, 0, 0.315)
}

.dimMod {
    height: 12rem;
}

.cent_custom {
    text-align: -webkit-center;
}


.circular-image {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.377);
}

.btn_mod {
    font-weight: 500;
    color: white;
    width: 120px;
    border: solid 1px black;
    background: rgb(18, 209, 44);
    background: linear-gradient(265deg, rgba(18, 209, 44, 1) 0%, rgba(23, 97, 11, 1) 100%);
}

.btn_mod:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.753);
    border: solid 1px black;
}

.card {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.377)
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #f0f0f0, #dcdcdc);
    clip-path: polygon(0 0, 100% 60%, 100% 100%, 0 100%);
    z-index: -1;
}