th,
td {
    background-color: rgba(0, 0, 0, 0) !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
}


th {
    padding-bottom: 30px !important;
}

td img {
    margin-bottom: 4px;
    width: 30px;
}

h1 {
    text-align: center;
}

h3 {
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 5px;
}

span {
    font-size: 15px;
    color: gray;
}



ol li {
    margin-bottom: 10px;
}


.circular-image {

    width: 200px;
    height: 200px;

}

.mia_lista>li {
    padding-bottom: 10px;
}

.titoli_lista1 {
    background: linear-gradient(265deg, rgb(238, 7, 103) 0%, rgb(70, 10, 211) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 900;
}

.titoli_lista2 {
    background: linear-gradient(265deg, rgb(37, 211, 10) 0%, rgb(13, 95, 3) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 900;
}


.descrizione {
    font-size: 18px !important;
}












/* CSS personalizzato per posizionare il footer in basso solo quando il contenuto principale è abbastanza corto */