.card {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.493);
    border: solid 3px rgb(77, 77, 77);
    border-radius: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.1);

    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.493);
}

.card img {
    height: 200px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    border-bottom: solid 3px rgb(77, 77, 77);
}